<%= form_with(model: inventory, local: true) do |form| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.select :product_id, options_for_select(Product.all.map {|product| [product.name, product.id]}, @inventory.product_id), {}, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :measure %>
    <%= form.select :measure, options_for_select(Product.measures.map {|key, value| [key.titleize, value]}, @inventory.measure), {}, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :quntity %>
    <%= form.number_field :quntity, id: :inventory_quntity %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :inventory_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
