<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @inventory.product %>
</p>

<p>
  <strong>Measure:</strong>
  <%= @inventory.measure %>
</p>

<p>
  <strong>Quntity:</strong>
  <%= @inventory.quntity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory.price %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
