<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @bill.customer %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @bill.cart %>
</p>

<p>
  <strong>Total:</strong>
  <%= @bill.total %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @bill.payment_type %>
</p>

<p>
  <strong>Recieve:</strong>
  <%= @bill.recieve %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
