<p id="notice"><%= notice %></p>

<h5>Customers
  <%= link_to "Add Customer", new_customer_path, class: "float-right btn btn-primary"%>
</h5>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Birthdate</th>
      <th>Gender</th>
      <th>Address</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= "#{customer.first_name} #{customer.last_name}" %></td>
        <td><%= customer.contact %></td>
        <td><%= customer.birthdate %></td>
        <td><%= customer.gender %></td>
        <td><%= customer.address %></td>
        <td><%= link_to 'Show', customer, class: "btn btn-outline-info" %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer), class: "btn btn-outline-warning" %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>