<%#= form_tag new_cart_path, :method => 'get' do %>
  <%# <p> %>
    <%#= text_field_tag :search, params[:search] %>
    <%#= submit_tag "Search", :name => nil %>
  <%# </p> %>
<%# end %>

<p align="right">
  <%= link_to 'Purchase', "", onclick: "generateBil()", class: "btn btn-outline-primary" %>
</p>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Rate(in Rs)</th>
      <th>Discount</th>
      <th>Quntity</th>
      <th colspan="3">Select</th>
    </tr>
  </thead>

  <tbody class= "table-sm">
    <% @products.each do |product| %>
      <tr>
        <td><%= Product.categories.key(product.category).capitalize %></td>
        <td><%= product.name.capitalize %></td>
        <td><%= product.rate %> /<%=Product.measures.key(product.measure).capitalize%></td>
        <td><%= product.discount %>%</td>
        <td><%= number_field_tag 'quantity', nil, min: 1, id: "quntity_#{product.id}", placeholder: "Enter Quntity"%></td>
        <td><%= product.remain_quntiry %></td>
        <td><%= check_box_tag "product_ids", "#{product.id}", false, style: "zoom:2;", class: "product_list" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= will_paginate @products %><br>

<style type="text/css">
  td {
    vertical-align: middle!important;
  }
</style>

<script type="text/javascript">
  function generateBil() {
    var prodcuts_ids = [];
    var quntity = [];
    $("input:checked").each(function(){
      prodcuts_ids.push($(this).val();)
      quntity.push(document.getElementById(("quntity_").concat(test)).value)
    });
    alert("product_ids ="+ prodcuts_ids + " Quntity ="+ quntity);
  }
</script>